body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;

}
p, h1, h2, h3 {


}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
nav a {
    align-content: center;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.otp {
    margin-top: 25px;
}
.home:hover {
    background: #ffffff;
}
.content p {
    text-align: center;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    width: 600px;
}