body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    background-color: #000000;
    color: white;
    text-align: center;

}
p, h1, h2, h3 {
    color: #f8f8f8;
    text-decoration: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px
}
a:hover {
    border: #ffffff solid 1px;
}
nav {
    align-content: center;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


/* ВЫШЕ НАХОДИТСЯ ОСНОВА */

ul li {
    padding: 10px;
}
.why h2 {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
table {
    background: #915d5d;    
}
.ava {
    border: none;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
h3 a{
    color: #ffffff;
    border: #ffffff 1px solid;
}
h3 a:hover {
    background: #ffffff;
    color: black;
}
.me {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.me a {
    border: 2px solid #ffffff;
    padding-top: 20px;
}
.me a:hover {
    background: #ffffff;
    color: black;
}
/*.dropbtn {
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgbs(0,0,0,0.2);
    z-index: 1;
    border: black 1px solid;
}
.dropdown-content a {
    display: block;  
    background: white;
    color: black;
        width: 80px;
    padding: 10px;
}
.dropdown-content a:hover {
    border-bottom: black 1px solid;

    color: black;
}
.show {
    display: block;
} */
