body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    background-color: #000000;
    color: white;
    text-align: center;

}
p, h1, h2, h3 {
    color: #f8f8f8;
    text-decoration: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px
}
a:hover {
    border: #ffffff solid 1px;
}
nav {
    align-content: center;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


/* ВЫШЕ НАХОДИТСЯ ОСНОВА */

ul li {
    padding: 10px;
}
.why h2 {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
table {
    background: #915d5d;    
}
.ava {
    border: none;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.dropdown{
}
h3 a{
    color: #ffffff;
    border-bottom: #ffffff 1px solid;
}
h3 a:hover {
    background: #ffffff;
    color: black;
    border-bottom: #ffffff 1px solid;
}
