@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
body {
    font-family: 'Share Tech Mono', monospace;/*"Lucida Console", Monaco, monospace;*/
    font-weight: bold;
    background-color: #000000;
    color: white;
    text-align: center;
    line-height: 150%;
    text-transform: uppercase;
}
p{
    padding: 10px;
    padding-bottom: 75px;
}
h2{
    border-bottom: 1px solid;
    box-sizing: border-box;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
nav a {
    align-content: center;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.otp {
    margin-top: 25px;
}
.home:hover {
    background: #ffffff;
}
.content p {
    text-align: center;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    width: 600px;
}
.content a {
    border-bottom: 1px #ffffff solid;
    padding: 2px;
}
.content a:hover {
    background: #ffffff;
}